<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/style.css">
  <title>Journal</title>
</head>
<body>
  <nav class="flex-ctr">
    <div><a href="#" class="navl">Home</a></div>
    <div><a href="/entrys" class="navl">Entries</a></div>
    <div><a href="#" class="navl">FAQs</a></div>
</nav>
  <h1>Journe-AL</h1>
  <div class="form">
  <form action="">
    <label for="text">Username:</label>
    <input type="text">
    <label for="text">Password:</label>
    <input type="text">
    <br />
    <a href="/entrys" class="start">Login</a>
  </form>
  </div>
  <div class="descrip">
    <p>Welcome to Journe-AL, where you can record the daily activites of your life.</p>
  </div>
</body>

</html>